<div class="container" th:fragment="form(interesses, action)">
	<div class="col-12">
		<form th:object="${interesses}" th:action="${action}" method="POST">

			<div class="container">
				<div class="col-12">

					<table class="table" style="margin-top: .85em; text-align: center;">
						<thead style="background-color: #F5F5F5;">
							<tr>
								<th scope="col-2">Tipo</th>
								<th scope="col-2">Endereço</th>
								<th scope="col-2">Descrição</th>
								<th scope="col-2">Valor</th>
								<th scope="col-2">Seleções</th>
							</tr>
						</thead>

						<tbody>
							<tr th:each="imovel : ${imoveis}">
								<th scope="row" th:text="${imovel.titulo}"></th>
								<td th:text="${imovel.endereco}"></td>
								<td th:text="${imovel.descricao}"></td>
								<td th:text="${imovel.valor}"></td>
								<td><input type="checkbox" th:field="*{imoveis}"
									th:value="${imovel}" /> <label th:for="${imoveis}"></label></td>
							</tr>
						</tbody>
					</table>
					<button class="btn btn-primary" type="submit">Cadastrar</button>
					<a href="javascript:history.back()">Voltar</a>
				</div>
			</div>


		</form>
	</div>
</div>